<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>Profiles</title>
</head>
<body>
<header>
    <nav class="models">
        <li>Webo</li>
        <a href="/admin">
            <li>Home</li>
        </a>
        <a href="/admin/users">
            <li>Users</li>
        </a>
        <a href="/admin/profiles">
            <li class="dim">Profiles</li>
        </a>
    </nav>
</header>
<section>
    <table>
        <tr>
            <th><input type="checkbox" id="all" name="all" value="all"></th>
            <th></th>
            <th>id</th>
            <th>name</th>
            <th>bio</th>
            <th>location</th>
            <th>website</th>
            <th>displayPicture</th>
            <th>dateOfBirth</th>
        </tr>
        {{#profiles}}
            <tr>
                <td></td>
                <td></td>
                <td>{{id}}</td>
                <td>{{name}}</td>
                <td>{{bio}}</td>
                <td>{{location}}</td>
                <td>{{website}}</td>
                <td>{{displayPicture}}</td>
                <th>{{dateOfBirth}}</th>
            </tr>
        {{/profiles}}
    </table>
</section>
</body>
<html>